.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbtn button,
#buttonsearch {
    margin: 0 10px 0;
    height: 35px;
    width: 85px;
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    border: 3px solid white;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: white;
    cursor: pointer;
}

.searchbtn button:hover,
#buttonsearch:hover {
    background-color: #35548a;
}

.active {
    background-color: blue;
    border-radius: 10px;
    box-sizing: border-box;
    height: 30px;
    padding: 10px 23px 29px !important;
    transform: scale(1.2);
}

#blur.active-blur {
    filter: blur(20px);
}
